@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.35em
	font-family: "RobotoLight", sans-serif
	overflow-x: hidden

.hidden
	display: none

*::-webkit-input-placeholder
	color: #4a4949
	opacity: 1
	font-size: 20px
	font-weight: 300
	line-height: 20px


*:-moz-placeholder
	color: #4a4949
	opacity: 1
	font-size: 20px
	font-weight: 300
	line-height: 20px


*::-moz-placeholder
	color: #4a4949
	opacity: 1
	font-size: 20px
	font-weight: 300
	line-height: 20px


*:-ms-input-placeholder
	color: #4a4949
	opacity: 1
	font-size: 20px
	font-weight: 300
	line-height: 20px


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
ul, li, p, h1, h2
	margin: 0
	padding: 0
li
	list-style: none
h1
	text-align: center
	color: #00718f
	font-size: 39px
	font-weight: 300
	line-height: 40px
	text-transform: uppercase
h2
	text-align: center
	color: #144c5f
	font-size: 32px
	font-weight: 300
	line-height: 32px
.section
	width: 100%
	min-width: 980px
	overflow: hidden
	position: relative
	z-index: 2
	min-height: 600px
	height: 100vh
	background-size: cover
	.wrap
		max-width: 980px
		position: relative
		z-index: 2
		height: 100%
		margin: 0 auto
		.m-wrap
			width: 100%
			position: absolute
			height: 600px
			top: 50%
			margin-top: -300px

.container
	width: 980px
.navigation
	background: url(../img/nav-background.jpg) 0 0 no-repeat
	left: -100%
	width: 648px
	height: 1100px
	position: fixed
	z-index: 5
	transition: left 1s
	.icon-close
		position: absolute
		background: url(../img/icon-close-menu.svg) 0 0 no-repeat
		top: 85px
		right: 75px
		width: 25px
		height: 25px
		cursor: pointer
		transform: rotate(0)
		transition: all .6s
		&:hover
			transform: rotate(90deg)
			transition: all .6s
	.menu-list
		padding-top: 200px
		padding-left: 90px
		padding-right: 70px
		li
			border-bottom: 1px solid #23667c
			a
				font-size: 22px
				font-weight: 400
				line-height: 22px
				text-transform: uppercase
				color: #f2fafc
				font-family: "RobotoRegular", sans-serif
				text-decoration: none
				padding: 22px
				padding-right: 0
				padding-left: 25px
				display: block
				&:hover
					color: #45bcd8
.ask-question-nav
	position: fixed
	top: 0
	right: -100%
	width: 648px
	height: 1100px
	background-color: whitesmoke
	opacity: 0.94
	z-index: 5
	transition: right 1s
	.icon-question
		position: absolute
		background: url(../img/icon-search-lg.svg) 0 0 no-repeat
		top: 60px
		left: 100px
		width: 49px
		height: 49px
	.icon-hidden
		position: absolute
		background: url(../img/icon-hidden.svg) 0 0 no-repeat
		top: 65px
		right: 60px
		width: 14px
		height: 30px
		cursor: pointer
	form
		margin-top: 150px
		margin-left: 100px
		.head-question
			color: #057f9c
			font-size: 37px
			font-weight: 400
			line-height: 46px
			margin-bottom: 30px
		input
			color: #4a4949
			font-size: 20px
			font-weight: 300
			line-height: 20px
			width: 260px
			outline: none
			border: none
			border-bottom: 1px solid #cacaca
			padding-top: 20px
			padding-bottom: 20px
			padding-right: 20px
			margin-bottom: 20px
			background-color: whitesmoke
			opacity: 0.94

		input[type="submit"]
			width: 201px
			height: 52px
			background-color: #057a99
			background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
			box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
			color: white
			font-size: 19px
			font-weight: 300
			line-height: 44px
			padding: 0
			border-radius: 50px
			margin-top: 30px
			border: none
			transition: box-shadow 2s
			transition: all 1s
			&:hover
				background-color: #057a99
				background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
				box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
			&:active
				box-shadow: 0 7px 27px rgba(0, 113, 143, 1)
.desktop
	.header
		background: url(../img/main-background.jpg) 0 0 no-repeat
		padding-bottom: 135px
		background-size: 110% 100%
		.header-top
			margin-bottom: 30px
			.header__menu
				float: left
				margin-top: 80px
				margin-left: 20px
				.menu__icon
					background: url(../img/icon-nav.png) 0 0 no-repeat
					width: 22px
					height: 16px
					display: inline-block
					vertical-align: middle
					margin-right: 20px
					cursor: pointer
				.menu__text
					font-size: 16px
					font-weight: 400
					line-height: 16px
					text-transform: uppercase
					color: #057a99
					vertical-align: middle
					font-family: "RobotoRegular", sans-serif
			.header__logo
				float: left
				margin-left: 240px
				margin-top: 40px
			.header__phone
				float: right
				margin-top: 90px
				margin-right: 30px
				a
					color: #057a99
					font-size: 23px
					font-weight: 300
					line-height: 22px
					text-decoration: none
		.main
			position: relative
			h1
				margin-bottom: 55px
			.ask-question
				cursor: pointer
				position: absolute
				transform: rotate(90deg)
				display: inline-block
				right: -65px
				top: 0
				color: #057a99
				font-size: 14px
				font-weight: 400
				line-height: 22px
				font-family: "RobotoRegular", sans-serif
				text-transform: uppercase
				text-decoration: none
				border: 1px solid #057a99
				border-radius: 50px
				padding: 8px
				padding-left: 18px
				padding-right: 18px
				&:hover
					background-color: #057a99
					color: #ffffff
			.main__cost
				background-color: whitesmoke
				box-shadow: 0 9px 14px rgba(0, 113, 143, 0.17)
				p
					text-align: center
					color: #00718f
					font-family: "RobotoBlack", sans-serif
					font-size: 18px
					font-weight: 900
					line-height: 22px
					padding-top: 30px
					padding-bottom: 20px
				span
					text-align: center
					color: #354e55
					font-size: 18px
					font-weight: 300
					line-height: 22px
					display: block
					margin-bottom: 20px
				.cost__blocks
					font-size: 0
					padding: 0 110px
					.cost__block
						display: inline-block
						vertical-align: top
						width: 230px
						line-height: 95px
						background-color: #fefefe
						border: 1px solid #fefefe
						border-radius: 10px
						margin-right: 20px
						margin-bottom: 20px
						position: relative
						cursor: pointer
						&:nth-child(3n)
							margin-right: 0
						&:hover
							box-shadow: 0 1px 16px rgba(255, 255, 255, 0.45)
							background: #e3f1f5
							border: 1px solid #cbe5eb
						&:active
							background-color: #08a5b4
							box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
							color: #ffffff
							.svg-logo
								fill: #ffffff
						&:active .cost__text
							color: #ffffff
						span
							font-size: 14px
							vertical-align: middle
							display: block
							text-align: right
							color: #057d9b
							margin-bottom: 0
							line-height: 95px
							margin-right: 20px
							.svg-logo
								vertical-align: middle
								fill: #057d9b
						.cost__text
							position: absolute
							top: 30px
							left: 30px
							line-height: 19px
							text-align: left
						.position-center
							top: 40px
					.active-block
						background-color: #08a5b4
						box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
						.cost__text
							color: #ffffff 
						.svg-logo
							fill: #ffffff !important
						&:hover
							background-color: #08a5b4
							box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
							.cost__text
								color: #ffffff
							.svg-logo
								fill: #ffffff !important
				.cost-forms
					padding-left: 160px
					input
						color: #505050
						font-size: 13px
						font-weight: 400
						line-height: 23px
						font-family: "RobotoRegular", sans-serif
						width: 205px
						outline: none
						border: none
						border-bottom: 1px solid #cacaca
						padding-top: 10px
						padding-bottom: 10px
						padding-left: 5px
						padding-right: 20px
						margin-bottom: 25px
						margin-right: 50px
						background: transparent
						&:last-child
							margin-right: 0
					input[type="submit"]
						width: 164px
						height: 52px
						background-color: #08a5b4
						border-radius: 50px
						color: #fbfbfb
						padding: 0
						font-size: 15px
						font-weight: 400
						line-height: 15px
						margin-bottom: 0
						border: none
						transition: all 1s
						&:hover
							background-color: #057a99
							background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
							box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
						&:active
							box-shadow: 0 7px 27px rgba(0, 113, 143, 0.83)
					*::-webkit-input-placeholder
						color: #505050
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
					*:-moz-placeholder
						color: #505050
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
					*::-moz-placeholder
						color: #505050
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
					*:-ms-input-placeholder
						color: #505050
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
	.about-insurance
		background-size: 100% 100%
		background-image: linear-gradient(to bottom, #FFFFFF 60%, #e8f2f5 100%)
		h2
			margin-bottom: 20px
		.about__block
			background-color: #f3f9fb
			border: 1px solid #dce8ea
			box-shadow: 0 26px 50px rgba(56, 205, 255, 0.14)
			.about-name
				float: left
				width: 275px
				ul
					margin-top: 35px
					li
						padding-left: 15px
						width: 230px

						a
							padding: 12px
							text-decoration: none
							color: #144c5f
							display: block
							border: 2px solid transparent
							span
								vertical-align: middle
								display: inline-block
								width: 65px
								text-align: center
								&:nth-child(2n)
									width: auto
									
								.svg-logo
									fill: #057d9b
							&:hover
								border: 2px solid #08a5b4
								border-radius: 50px
								color: #144c5f
						.active-list
							border: 2px solid #08a5b4
							border-radius: 50px
							color: #144c5f
			.about-description
				float: right
				width: 700px
				.description-blocks
					display: none
					.description__text
						float: left
						width: 400px
						padding-left: 10px
						padding-right: 30px
						.head-description
							color: #144c5f
							font-size: 37px
							font-weight: 300
							line-height: 37px
							margin-top: 50px
							margin-bottom: 40px
						.text-description
							color: #3a3a3a
							font-size: 14px
							font-weight: 300
							line-height: 21px

					.description__img
						float: right
						width: 300px
						img
							width: 100%
							height: 100%
				.active-description
					display: block
	.works
		background: url(../img/work-background.jpg) 0 0 no-repeat
		background-size: cover
		h2
			margin-bottom: 100px
		.works-blocks
			font-size: 0
			text-align: justify
			padding: 0 100px
			&:after
				content: ""
				width: 100%
				height: 0
				display: inline-block
			.works-block
				display: inline-block
				font-size: 18px
				vertical-align: top
				.icon-works
					text-align: center
					margin-bottom: 25px
					height: 65px
				.icon-circle
					text-align: center
					position: relative
					margin-bottom: 25px
					width: 145px
					&:after
						content: ""
						position: absolute
						background: url(../img/layer-work.png) 0 0 no-repeat
						top: 27px
						left: -118px
						width: 400px
						height: 1px
					span
						position: absolute
						top: 15px
						left: 50%
						transform: translateX(-50%)
						color: white
						font-size: 30px
						font-weight: 300
						line-height: 30px
				.works-text
					text-align: center
				.last-layer
					&:after
						background: none
	.services
		background: url(../img/clients-background.jpg) 0 0 no-repeat
		background-size: cover
		.services-block1
			margin: 0 auto
			width: 772px
			background-color: white
			border-radius: 10px
			padding-bottom: 15px
			box-shadow: 0 3px 24px rgba(108, 205, 223, 0.75)
			.block1-icon
				float: left
				margin-left: 125px
				margin-top: 20px
			.block1-text
				float: left
				margin-left: 35px
				margin-top: 35px
				.head-block1
					color: #116278
					font-size: 27px
					font-weight: 300
					line-height: 27px
					margin-bottom: 15px
				p
					color: #126379
					font-size: 16px
					font-weight: 300
					line-height: 23px
		.services-block2
			margin: 0 auto
			width: 640px
			background-color: rgba(10, 99, 123, 0.14)
			padding-top: 30px
			padding-bottom: 30px
			.head-block2
				color: white
				font-size: 32px
				font-weight: 300
				line-height: 32px
				margin-bottom: 25px
			.block2-inline
				margin-bottom: 10px
				.counts-company
					display: inline-block
					float: left
					margin-right: 15px
				.column-text
					float: left
					width: 430px
					color: white
					font-size: 16px
					font-weight: 300
					line-height: 23px
			.block2-inline
				.clients-company
					float: left
					width: 187px
					margin-right: 15px
					color: white
					font-size: 27px
					font-weight: 300
					line-height: 32px
				.column-text
					padding-top: 5px
					color: white
					font-size: 16px
					font-weight: 300
					line-height: 23px
		.services-block3
			width: 772px
			margin: 0 auto
			background-color: #0e5b70
			border-radius: 10px
			padding-top: 20px
			padding-bottom: 15px
			.head-block3
				text-align: center
				color: white
				font-size: 27px
				font-weight: 300
				line-height: 42px
				margin-bottom: 15px
			.button-block3
				text-align: center
				a
					width: 152px
					height: 43px
					background-color: #057a99
					background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
					box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
					color: #fbfbfb
					font-size: 18px
					font-weight: 300
					line-height: 43px
					display: inline-block
					border-radius: 50px
					text-decoration: none
					position: relative
					padding-left: 15px
					&:hover
						box-shadow: 0 7px 27px rgba(0, 113, 143, 0.63)
					&:active
						box-shadow: 0 7px 27px rgba(0, 113, 143, 0.93)
					span
						position: absolute
						top: 0
						left: 14px
	.price
		position: relative
		background: url(../img/price-background.jpg) 0 0 no-repeat
		background-size: 100% 100%
		h2
			margin-bottom: 40px
		.main__cost
			background-color: whitesmoke
			box-shadow: 0 9px 14px rgba(0, 113, 143, 0.17)
			padding-bottom: 50px
			p
				text-align: center
				color: #00718f
				font-family: "RobotoBlack", sans-serif
				font-size: 18px
				font-weight: 900
				line-height: 22px
				padding-top: 40px
				padding-bottom: 30px
			.cost__blocks
				font-size: 0
				padding: 0 110px
				.cost__block
					display: inline-block
					vertical-align: top
					width: 230px
					line-height: 95px
					background-color: #fefefe
					border: 1px solid #fefefe
					border-radius: 10px
					margin-right: 20px
					margin-bottom: 20px
					position: relative
					cursor: pointer
					&:nth-child(3n)
						margin-right: 0
					&:hover
						box-shadow: 0 1px 16px rgba(255, 255, 255, 0.45)
						background: #e3f1f5
						border: 1px solid #cbe5eb
					&:active
						background-color: #08a5b4
						box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
						color: #ffffff
						.svg-logo
							fill: #ffffff
					&:active .cost__text
						color: #ffffff
					span
						font-size: 14px
						vertical-align: middle
						display: block
						text-align: right
						color: #057d9b
						margin-bottom: 0
						line-height: 95px
						margin-right: 20px
						.svg-logo
							vertical-align: middle
							fill: #057d9b
					.cost__text
						position: absolute
						top: 30px
						left: 30px
						line-height: 19px
						text-align: left
					.position-center
						top: 40px
				.active-block
					background-color: #08a5b4
					box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
					.cost__text
						color: #ffffff 
					.svg-logo
						fill: #ffffff !important
					&:hover
						background-color: #08a5b4
						box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
						.cost__text
							color: #ffffff
						.svg-logo
							fill: #ffffff !important
			.cost-forms
				text-align: center
				input[type="submit"]
					width: 164px
					height: 52px
					font-family: "RobotoRegular", sans-serif
					background-color: #08a5b4
					border-radius: 50px
					color: #fbfbfb
					padding: 0
					font-size: 16px
					font-weight: 400
					line-height: 52px
					margin-bottom: 0
					border: none
					outline: none
					&:hover
						background-color: #057a99
						background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
						box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
					&:active
						box-shadow: 0 7px 27px rgba(0, 113, 143, 0.83)
				*::-webkit-input-placeholder
					color: #505050
					opacity: 1
					font-size: 13px
					font-weight: 300
					line-height: 13px
				*:-moz-placeholder
					color: #505050
					opacity: 1
					font-size: 13px
					font-weight: 300
					line-height: 13px
				*::-moz-placeholder
					color: #505050
					opacity: 1
					font-size: 13px
					font-weight: 300
					line-height: 13px
				*:-ms-input-placeholder
					color: #505050
					opacity: 1
					font-size: 13px
					font-weight: 300
					line-height: 13px
	.polis
		h2
			margin-bottom: 20px
			b
				font-family: "RobotoBold", sans-serif
		.polis-blocks
			text-align: justify
			padding: 0 100px
			font-size: 0
			margin-bottom: 20px
			&:after
				content: ""
				display: inline-block
				width: 100%
				height: 0
			.polis-block
				display: inline-block
				vertical-align: top
				width: 341px
				border-radius: 5px
				.polis-block__inline1
					background-image: linear-gradient(40deg, #3f7692 0%, #08a5b4 100%)
					height: 200px
					border-top-left-radius: 5px
					border-top-right-radius: 5px
					position: relative
					.icon-polis
						position: absolute
						left: 50%
						bottom: 110px
						transform: translateX(-50%)
					p
						text-align: center
						color: #d2ebee
						font-weight: 300
						font-size: 22px
						line-height: 29px
						padding-top: 110px
						span
							color: white
							font-weight: 700
							text-transform: uppercase
							font-family: "RobotoBold", sans-serif
				.polis-block__inline2
					background-color: whitesmoke
					box-shadow: 0 9px 14px rgba(0, 113, 143, 0.17)
					border-bottom-left-radius: 5px
					border-bottom-right-radius: 5px
					height: 200px
					p
						color: #3b4d5a
						font-size: 15px
						font-weight: 300
						line-height: 23px
						text-align: center
						padding: 30px 50px 0 50px
		.icon-info
			text-align: center
			display: block
			margin-bottom: 20px
			cursor: pointer
		.polis-info
			text-align: center
			padding: 0 200px
			color: #286788
			font-size: 16px
			font-weight: 300
			line-height: 23px
	.about-company
		background: url(../img/about-company-background.jpg) 0 0 no-repeat
		background-size: 100% 90%
		margin-bottom: 0
		h1
			color: white
			padding-top: 80px
			margin-bottom: 40px
		.about-company__columns
			text-align: justify
			padding: 0 80px
			font-size: 0
			&:after
				content: ""
				display: inline-block
				width: 100%
				height: 0
			.about-company__column
				display: inline-block
				p
					color: #c1e0eb
					font-weight: 300
					line-height: 34px
					font-size: 24px
					text-align: center
					span
						font-size: 31px
		.slider-employees
			#horiz_container_outer
				border: none
				width: 980px
				height: 320px
				#horiz_container
					width: 1600px
					text-align: justify
					&:after
						display: inline-block
						content: ""
						width: 100%
						height: 0
					.employees
						text-align: center
						display: inline-block
						.contacts-employees
							padding-top: 10px
							background: #165064
							p
								font-weight: 300
								line-height: 24px
								color: #8b979a
								font-size: 14px
								display: block
								padding-bottom: 5px
							.contacts__head
								font-weight: 300
								line-height: 24px
								color: white
								font-size: 24px
								display: block
								padding-bottom: 5px
		#scrollbar
			width: 980px
			#track
				width: 980px
				height: 2px
				top: 10px
				background-color: #a6ced7
				#dragBar
					width: 28px !important
					height: 29px
					top: -14px !important
					background: url(../img/slider-icon.png) 0 0 no-repeat
	.maps
		.wrap
			width: 100%
			max-width: 100%
			padding: 0
			.map
				position: relative
				#map-google
					width: 100%
					height: 70vh
				.map__adress
					width: 318px
					.adress__photo
						background: url(../img/maps-photo.jpg) 0 0 no-repeat
						height: 227px
					.adress__contacts
						padding-left: 15px
						background: #057f9c
						padding-bottom: 10px
						p
							color: white
							font-size: 19px
							font-weight: 300
							line-height: 44px
						span
							color: white
							font-size: 15px
							font-weight: 300
							line-height: 20px
					.marker
						position: absolute
						content: ""
						width: 0
						height: 0
						bottom: -20px
						left: 45px
						border-left: 20px solid transparent
						border-top: 20px solid #057f9c
						border-right: 20px solid transparent
				.map__form
					position: absolute
					top: 10%
					right: 14%
					width: 280px
					margin-right: 20px
					opacity: 0.91
					background-color: white
					box-shadow: 0 5px 32px rgba(0, 0, 0, 0.33)
					text-align: center
					p
						color: #057f9c
						font-size: 17px
						font-weight: 300
						line-height: 24px
						margin-top: 25px
						margin-bottom: 15px
					input
						color: #4a4949
						font-size: 13px
						font-weight: 300
						line-height: 
						width: 243px
						outline: none
						border: none
						border-bottom: 1px solid #cacaca
						padding-top: 20px
						padding-bottom: 15px
						padding-left: 15px
						padding-right: 15px
						margin-bottom: 15px
						opacity: 0.91
						background-color: white
						opacity: 0.94
					input[type="submit"]
						width: 201px
						height: 52px
						background-color: #057a99
						background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
						box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
						color: white
						font-size: 19px
						font-weight: 300
						line-height: 44px
						padding: 0
						border-radius: 50px
						margin-top: 10px
						margin-bottom: 20px
						border: none
						transition: box-shadow 2s
						&:hover
							background-color: #057a99
							background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
							box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
						&:active
							box-shadow: 0 7px 27px rgba(0, 113, 143, 1)
					*::-webkit-input-placeholder
						color: #4a4949
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
					*:-moz-placeholder
						color: #4a4949
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
					*::-moz-placeholder
						color: #4a4949
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
					*:-ms-input-placeholder
						color: #4a4949
						opacity: 1
						font-size: 13px
						font-weight: 300
						line-height: 13px
					.form__phone
						background-color: #057f9c
						height: 72px
						a
							color: white
							font-size: 23px
							font-weight: 300
							line-height: 72px
							text-decoration: none
			.footer
				text-align: justify
				background-color: #144c5f
				padding: 0 100px
				padding-bottom: 50px
				&:after
					content: ""
					display: inline-block
					width: 100%
					height: 0
				.column1
					display: inline-block
					p
						color: white
						font-size: 14px
						font-weight: 300
						line-height: 44px
.mobile
	h1
		font-size: 30px
		line-height: 30px
	.navigation-mob
		background: url(../img/nav-background.jpg) 0 0 no-repeat
		background-size: 100% 120%
		position: fixed
		z-index: 5
		width: 100%
		left: -100%
		.icon-close
			position: absolute
			background: url(../img/icon-close-menu.svg) 0 0 no-repeat
			top: 25px
			left: 30px
			width: 25px
			height: 25px
			cursor: pointer
			transform: rotate(0)
			transition: transform .6s
			&:hover
				transform: rotate(90deg)
				transition: all .6s
		.menu-list
			padding: 0 15px
			padding-top: 100px
			display: block
			margin-bottom: 50px
			li
				border-bottom: 1px solid #23667c
				
				a
					font-size: 22px
					font-weight: 400
					line-height: 22px
					text-transform: uppercase
					color: #f2fafc
					font-family: "RobotoRegular", sans-serif
					text-decoration: none
					padding: 22px
					padding-right: 0
					padding-left: 40px
					display: block
					&:hover
						color: #45bcd8
		.navigation__phone
			padding-left: 55px
			padding-bottom: 30px
			a
				color: white
				font-size: 32px
				font-weight: 300
				line-height: 32px
				text-decoration: none
	.ask-question-nav-mob
		padding-bottom: 40px
		position: fixed
		top: 0
		background-color: whitesmoke
		opacity: 0.97
		z-index: 5
		width: 100%
		right: -100%
		.icon-close
			position: absolute
			background: url(../img/ask-question-icon-mob.png) 0 0 no-repeat
			top: 60px
			left: 55px
			width: 49px
			height: 49px
		form
			margin-top: 150px
			margin-left: 55px
			.head-question
				color: #057f9c
				font-size: 37px
				font-weight: 400
				line-height: 46px
				margin-bottom: 30px
			input
				color: #4a4949
				font-size: 20px
				font-weight: 300
				line-height: 20px
				width: 260px
				outline: none
				border: none
				border-bottom: 1px solid #cacaca
				padding-top: 20px
				padding-bottom: 20px
				padding-right: 20px
				margin-bottom: 20px
				background-color: whitesmoke
				opacity: 0.94
			input[type="submit"]
				width: 201px
				height: 52px
				background-color: #057a99
				background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
				box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
				color: white
				font-size: 19px
				font-weight: 300
				line-height: 44px
				padding: 0
				border-radius: 50px
				margin-top: 30px
				border: none
				transition: box-shadow 2s
				&:hover
					background-color: #057a99
					background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
					box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
				&:active
					box-shadow: 0 7px 27px rgba(0, 113, 143, 1)
				

	.header
		background: url(../img/main-background.jpg) 0 0 no-repeat
		background-size: 100% 50%
		.header-top
			text-align: justify
			padding: 0 50px
			margin-bottom: 25px
			&:after
				content: ""
				display: inline-block
				width: 100%
				height: 0
			.header-menu
				vertical-align: middle
				display: inline-block
				.menu__icon
					background: url(../img/icon-nav.png) 0 0 no-repeat
					display: inline-block
					width: 31px
					height: 24px
			.header__logo
				vertical-align: middle
				display: inline-block
			.icon-search
				vertical-align: middle
				display: inline-block
		.main
			h1
				margin-bottom: 15px
			.main__text
				text-align: center
				color: #00718f
				font-family: "RobotoBlack", sans-serif
				font-size: 18px
				font-weight: 900
				line-height: 22px
				margin-bottom: 15px
			.cost__head
				background-color: #08a5b4
				height: 60px
				p
					transform: translateY(50%)
					padding-top: 8px
					color: white
					font-size: 18px
					font-weight: 300
					line-height: 18px
					text-align: center
					font-family: "RobotoLight", sans-serif
			.cost__blocks
				text-align: justify
				padding: 15px
				padding-bottom: 0
				background-color: #f2f1f1
				&:after
					display: inline-block
					content: ""
					width: 100%
					height: 0
					font-size: 0
				.cost__block
					display: inline-block
					width: 210px
					height: 68px
					background-color: #fefefe
					border: 1px solid #b0d6e0
					border-radius: 9px
					vertical-align: top
					text-align: center
					position: relative
					margin-bottom: 20px
					vertical-align: middle
					&:active
						background-color: #08a5b4
						box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
						color: #ffffff
						border: 1px solid #08a5b4
					&:active p
						color: #ffffff
					p
						color: #057d9b
						margin: 0
						padding: 0
						font-family: "RobotoLight", sans-serif
						font-size: 14px
						font-weight: 300
						line-height: 19px
						vertical-align: middle
						padding-top: 15px
					.position-center
						padding-top: 22px
					span			
						.svg-logo
							position: absolute
							top: 0
							left: 0
							width: 50%
							height: 100%
							transform: translateX(50%)
							fill: #f0f1f1
							opacity: 0.07
				.active-block
					background-color: #08a5b4
					box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
					p
						color: #ffffff
					.svg-logo
						fill: #ffffff !important
					&:hover
						background-color: #08a5b4
						box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
						p
							color: #ffffff
						.svg-logo
							fill: #ffffff !important
			.cost-forms
				background-color: #f2f1f1
				text-align: center
				margin-top: -2px
				input
					color: #505050
					font-size: 19px
					font-weight: 300
					line-height: 
					width: 200px
					outline: none
					border: none
					border-bottom: 1px solid #cacaca
					padding: 15px
					margin-bottom: 15px
					background-color: #f2f1f1
					text-align: center
				input[type="submit"]
					width: 201px
					height: 52px
					background-color: #057a99
					background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
					box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
					color: white
					font-size: 19px
					font-weight: 300
					line-height: 44px
					padding: 0
					border-radius: 50px
					margin-top: 10px
					margin-bottom: 40px
					border: none
					transition: box-shadow 2s
					&:active
						box-shadow: 0 7px 27px rgba(0, 113, 143, 1)
				*::-webkit-input-placeholder
					color: #4a4949
					opacity: 1
					font-size: 19px
					font-weight: 300
					line-height: 19px
					text-align: center
				*:-moz-placeholder
					color: #4a4949
					opacity: 1
					font-size: 19px
					font-weight: 300
					line-height: 19px
					text-align: center
				*::-moz-placeholder
					color: #4a4949
					opacity: 1
					font-size: 19px
					font-weight: 300
					line-height: 19px
					text-align: center
				*:-ms-input-placeholder
					color: #4a4949
					opacity: 1
					font-size: 19px
					font-weight: 300
					line-height: 19px
					text-align: center
	.about-insurance
		padding: 0 20px
		padding-top: 20px
		padding-bottom: 20px
		h1
			text-transform: none
			margin-bottom: 20px
		.about__slider
			position: relative
			.slick-arrow
				position: absolute 
				width: 29px
				height: 48px
				z-index: 6
				&:before
					content: ""
			.slick-prev
				top: 31px
				left: 0
				background: url(../img/arrow-prev.png) 0 0 no-repeat
			.slick-next
				top: 31px
				right: 0
				background: url(../img/arrow-next.png) 0 0 no-repeat
			.about-insurance__slick
				text-align: center
				.about__block
					display: inline-block
					width: 210px
					height: 68px
					background-color: #08a5b4
					box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
					border: 1px solid #b0d6e0
					border-radius: 9px
					vertical-align: top
					text-align: center
					position: relative
					margin-bottom: 20px
					vertical-align: middle
					p
						color: #ffffff
						margin: 0
						padding: 0
						font-family: "RobotoLight", sans-serif
						font-size: 14px
						font-weight: 300
						line-height: 19px
						vertical-align: middle
						padding-top: 15px
					span			
						.svg-logo
							position: absolute
							top: 0
							left: 0
							width: 50%
							height: 100%
							transform: translateX(50%)
							fill: #3d494b
							opacity: 0.07
					.position-center
						padding-top: 22px
				.about__description
					text-align: left
					.head-description
						color: #144c5f
						font-size: 31px
						font-weight: 300
						line-height: 31px
						text-align: center
					.text-description
						color: #3a3a3a
						font-family: Roboto
						font-size: 14px
						font-weight: 300
						line-height: 21px
	.works
		background: url(../img/work-background-mob.jpg) 0 0 no-repeat
		background-size: cover
		padding: 0 20px
		padding-top: 40px
		h1
			margin-bottom: 20px
		.works-block
			text-align: justify
			margin-bottom: 30px
			&:after
				display: inline-block
				content: ""
				width: 100%
				height: 0
			.works__circle
				display: inline-block
				vertical-align: middle
			.works__text
				display: inline-block
				width: 60%
				text-align: center
				vertical-align: middle
				p
					color: #00718f
					font-size: 23px
					font-weight: 300
					line-height: 25px
			.works__icon
				display: inline-block
				vertical-align: middle
	.services
		padding: 15px
		background: url(../img/clients-background-mob.jpg) 0 0 no-repeat
		background-size: 100% 120%
		.services-block1
			background-color: white
			padding-bottom: 25px
			padding-top: 15px
			box-shadow: 0 3px 24px rgba(108, 205, 223, 0.75)
			.block1-icon
				float: left
				margin-left: 20px
			.block1-text
				float: right
				margin-right: 20px
				.head-block1
					color: #116278
					font-size: 29px
					font-weight: 300
					line-height: 42px
					margin-bottom: 15px
				p
					color: #126379
					font-size: 18px
					font-weight: 300
					line-height: 23px
		.services-block2
			background-color: rgba(10, 99, 123, 0.14)
			padding-top: 20px
			padding-bottom: 20px
			.head-block2
				color: white
				font-size: 32px
				font-weight: 300
				line-height: 32px
				margin-bottom: 25px
				text-align: center
			.block2-inline
				margin-bottom: 20px
				.counts-company
					display: inline-block
					float: left
					margin-left: 20px
				.column-text
					float: right
					width: 50%
					p
						color: white
						font-size: 16px
						font-weight: 300
						line-height: 23px
			.block2-inline-clients
				.head__clients
					color: #ffffff
					margin-bottom: 20px
				p
					text-align: center
					color: white
					font-size: 16px
					font-weight: 300
					line-height: 23px
		.services-block3
			padding: 0 15px
			background-color: #0e5b70
			padding-top: 20px
			padding-bottom: 15px
			.head-block3
				text-align: center
				color: white
				font-size: 27px
				font-weight: 300
				line-height: 35px
				margin-bottom: 20px
			.button-block3
				text-align: center
				a
					width: 152px
					height: 43px
					background-color: #057a99
					background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
					box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
					color: #fbfbfb
					font-size: 18px
					font-weight: 300
					line-height: 43px
					display: inline-block
					border-radius: 50px
					text-decoration: none
					position: relative
					padding-left: 15px
					&:active
						box-shadow: 0 7px 27px rgba(0, 113, 143, 0.93)
					span
						position: absolute
						top: 0
						left: 14px
	.price
		padding: 20px 0
		h1
			line-height: 40px
			text-transform: none
			margin-bottom: 20px
		.cost__head
			opacity: 0.68
			background-color: #057c9a
			padding: 15px 0
			p
				color: white
				font-size: 18px
				font-weight: 300
				line-height: 23px
				text-align: center
				font-family: "RobotoLight", sans-serif
		.cost__blocks
			text-align: justify
			padding: 15px
			padding-bottom: 0
			background-color: #ffffff
			&:after
				display: inline-block
				content: ""
				width: 100%
				height: 0
				font-size: 0
			.cost__block
				display: inline-block
				width: 210px
				height: 68px
				background-color: #fefefe
				border: 1px solid #b0d6e0
				border-radius: 9px
				vertical-align: top
				text-align: center
				position: relative
				margin-bottom: 20px
				vertical-align: middle
				&:active
					background-color: #08a5b4
					box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
					color: #ffffff
					border: 1px solid #08a5b4
				&:active p
					color: #fffff
				p
					margin: 0
					padding: 0
					font-family: "RobotoLight", sans-serif
					color: #057d9b
					font-size: 14px
					font-weight: 300
					line-height: 19px
					vertical-align: middle
					padding-top: 15px
				.position-center
					padding-top: 22px
				span			
					.svg-logo
						position: absolute
						top: 0
						left: 0
						width: 50%
						height: 100%
						transform: translateX(50%)
						fill: #f0f1f1
						opacity: 0.07
			.active-block
				background-color: #08a5b4
				box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
				p
					color: #ffffff
				.svg-logo
					fill: #ffffff !important
				&:hover
					background-color: #08a5b4
					box-shadow: 0 1px 16px rgba(8, 168, 182, 0.3)
					p
						color: #ffffff
					.svg-logo
						fill: #ffffff !important
		.cost-forms
			text-align: center
			input[type="submit"]
				width: 164px
				height: 52px
				font-family: "RobotoRegular", sans-serif
				background-color: #08a5b4
				box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
				border-radius: 50px
				color: #fbfbfb
				padding: 0
				font-size: 16px
				font-weight: 400
				line-height: 52px
				margin-bottom: 0
				border: none
				outline: none
				&:hover
					background-color: #057a99
					background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
					box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
				&:active
					box-shadow: 0 7px 27px rgba(0, 113, 143, 0.83)
	.polis
		padding: 40px
		margin: 0 auto
		h1
			text-transform: none
			margin-bottom: 20px
		.polis-block
			display: inline-block
			border-radius: 5px
			text-align: center
			margin-bottom: 20px
			.polis-block__inline1
				background-image: linear-gradient(40deg, #3f7692 0%, #08a5b4 100%)
				height: 200px
				border-top-left-radius: 5px
				border-top-right-radius: 5px
				position: relative
				.icon-polis
					position: absolute
					left: 50%
					bottom: 110px
					transform: translateX(-50%)
				p
					text-align: center
					color: #d2ebee
					font-weight: 300
					font-size: 22px
					line-height: 29px
					padding-top: 110px
					span
						color: white
						font-weight: 700
						text-transform: uppercase
						font-family: "RobotoBold", sans-serif
			.polis-block__inline2
				background-color: whitesmoke
				box-shadow: 0 9px 14px rgba(0, 113, 143, 0.17)
				border-bottom-left-radius: 5px
				border-bottom-right-radius: 5px
				height: 200px
				p
					color: #3b4d5a
					font-size: 15px
					font-weight: 300
					line-height: 23px
					text-align: center
					padding: 50px 50px 0 50px
		.icon-info
			text-align: center
			margin-bottom: 20px
		.polis-info
			text-align: center
			color: #286788
			font-size: 16px
			font-weight: 300
			line-height: 23px
	.about-company
		background: url(../img/about-company-background-mob.jpg) 0 0 no-repeat
		background-size: 100% 100%
		text-align: center
		padding-top: 20px
		padding-bottom: 20px
		h1
			text-transform: none
			color: #ffffff
			margin-bottom: 40px
		p
			color: #c1e0eb
			font-weight: 300
			line-height: 34px
			font-size: 24px
			margin-bottom: 30px
			span
				font-size: 40px
			.about-company__font-size
				font-size: 31px	
	.employees-slider
		padding-top: 20px
		padding-bottom: 20px
		.employees-slider_container
			.wrap-emp
				text-align: center
				.employees
					text-align: center
					display: inline-block
					width: 190px
					background: #FFF
					box-shadow: 1.5px 2.6px 22px rgba(0, 0, 0, 0.15)
					.contacts-employees
						padding-top: 10px
						background: #165064
						p
							font-weight: 300
							line-height: 16px
							color: #8b979a
							font-size: 16px
							display: block
							padding-bottom: 10px
						.contacts__head
							font-weight: 300
							line-height: 21px
							color: white
							font-size: 21px
							display: block
							padding-bottom: 10px
	.maps
		padding-bottom: 20px
		.maps__photo
			img
				width: 100%
		.maps__info
			background: #1e434c
			.maps__contacts
				padding-top: 20px
				padding-bottom: 20px
				padding-left: 90px
				position: relative
				.maps__icon
					position: absolute
					top: 21px
					left: 38px
					background: url(../img/maps-icon.png) 0 0 no-repeat
					width: 30px
					height: 34px
				p
					font-size: 18px
					font-weight: 300
					line-height: 23px
					color: #ffffff
					span
						color: #aadfed
			#map-google-mob
				width: 100%
				height: 70vh
			.map__adress
				background: #057f9c
				display: inline-block
				padding: 20px 20px 20px 50px
				position: relative
				.adress__photo
					position: absolute
					top: 35px
					left: 15px
					background: url(../img/maps-icon2.png) 0 0 no-repeat
					width: 20px
					height: 26px
				.adress__contacts
					p
						color: white
						font-size: 19px
						font-weight: 300
						line-height: 24px
					span
						font-size: 15px
						font-weight: 300
						line-height: 24px
						color: white
				.marker
					position: absolute
					content: ""
					width: 0
					height: 0
					bottom: -19px
					left: 45px
					// border-left: 20px solid transparent
					// border-top: 20px solid #057f9c
					// border-right: 20px solid transparent
			.maps-question
				opacity: 0.87
				background-color: rgba(30, 67, 76, 0.49)
				color: #fff
				text-align: center
				padding-top: 20px
				padding-bottom: 20px
				position: relative
				.question-icon
					position: absolute
					top: 16px
					left: 30px
					background: url(../img/map-question.png) 0 0 no-repeat
					width: 41px
					height: 29px
				.question-icon2
					position: absolute
					top: 29px
					right: 70px
					background: url(../img/map-question2.png) 0 0 no-repeat
					width: 13px
					height: 9px
				p
					color: white
					font-size: 26px
					font-weight: 300
					line-height: 24px
			.maps-question-form
				background-color: #f2f4f7
				text-align: center
				padding-top: 20px
				input
					color: #4a4949
					font-size: 20px
					font-weight: 300
					line-height: 20px
					width: 260px
					outline: none
					border: none
					border-bottom: 1px solid #cacaca
					padding: 20px
					margin-bottom: 20px
					background-color: whitesmoke
					opacity: 0.94
				input[type="submit"]
					width: 201px
					height: 52px
					background-color: #057a99
					background-image: linear-gradient(to right, #057a99 0%, #09b1bb 100%)
					box-shadow: 0 7px 27px rgba(0, 113, 143, 0.43)
					color: white
					font-size: 19px
					font-weight: 300
					line-height: 44px
					padding: 0
					border-radius: 50px
					margin-top: 30px
					border: none
					transition: box-shadow 2s
					&:active
						box-shadow: 0 7px 27px rgba(0, 113, 143, 1)
				.maps-question-phone
					background: #057f9c
					padding: 20px 0
					text-align: center
					a
						color: white
						font-size: 33px
						font-weight: 300
						line-height: 33px
		
	.footer
		background: #057f9c
		color: #ffffff
		text-align: justify
		padding: 0 20px
		padding-top: 20px
		font-size: 0
		vertical-align: top
		&:after
			display: inline-block
			content: ""
			width: 100%
			height: 0
		p
			color: white
			font-size: 12px
			font-weight: 300
			line-height: 22px
			display: inline-block
			vertical-align: top
		img
			display: inline-block
			vertical-align: top
			width: 40%

	

				
		




			








			
			





	








//ALWAYS END
@import "media"
